.bg1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    animation: zoomMove 30s ease-in-out infinite;
}

@keyframes zoomMove {
    0% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: scale(1.1) translateY(-100px) rotate(10deg);
    }
}

.gp{
    border-radius: 200px;
    width: 7vw;
    height: 7vw;
    border: 1px solid white;
}

.nasa{
    height: 7vw;
}

.pc1{
    display: flex;
    gap: 1vw;
}

.everything{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100vw;
}

.everything h2{
    font-size: 40px;
    font-weight: bold;
    font-family: "Arial", "Helvetica", sans-serif; 
    margin: 0;
    padding: 10px;
    color: white;
}
.everything h5{
    font-size: 50px;
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    margin-top: 40px;
    padding: 10px;
    color: white;
}
.everything h3{
    background-color: rgba(0,0,0,0.3);
    font-size: 20px;
    font-family: "Arial", "Helvetica", sans-serif; 
    font-weight: THIN;
    margin: 0;
    margin-top: 40px;
    padding: 10px 30px;
    border-radius: 100px;
    border: 1px solid white;
    cursor: pointer;
    backdrop-filter: blur(5px);
    color: white;
    transition: font-size 0.3s ease, background-color 0.3s ease, padding 0.3s ease; 
}
.everything h3:hover{
    font-size: 21px;
    background-color: rgba(255, 255, 255, 0.1);
}